@model Locacoes.Models.Locacao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Locacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataLocacao" class="control-label"></label>
                <input asp-for="DataLocacao" class="form-control" type="date" />
                <span asp-validation-for="DataLocacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label for="VeiculoId" class="control-label">Veículo</label>
                <div style="display: flex; align-items: center;">
                    <select id="VeiculoId" class="form-control" style="flex: 1;" asp-items="ViewBag.VeiculoId"></select>
                    <button type="button" class="btn btn-outline-secondary" style="margin-left: 5px;" onclick="adicionarVeiculo()">+</button>
                </div>
            </div>

            <div class="form-group">
                <label for="veiculosLocados" class="control-label">Veículos Locados</label>
                <div style="display: flex; align-items: center;">
                    <textarea id="veiculosLocados" class="form-control" rows="5" style="flex: 1;" readonly></textarea>
                    <button type="button" class="btn btn-outline-secondary" style="margin-left: 5px;" onclick="removerVeiculo()">-</button>
                </div>
            </div>

            <script>
                function adicionarVeiculo() {
                    var veiculoSelect = document.getElementById('VeiculoId');
                    var veiculoSelecionado = veiculoSelect.options[veiculoSelect.selectedIndex].text;
                    var textarea = document.getElementById('veiculosLocados');

                    if (textarea.value === "") {
                        textarea.value = veiculoSelecionado;
                    } else {
                        textarea.value += "\n" + veiculoSelecionado;
                    }
                }

                function removerVeiculo() {
                    var textarea = document.getElementById('veiculosLocados');
                    var lines = textarea.value.split('\n');

                    lines.pop();
                    textarea.value = lines.join('\n');
                }
            </script>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
